################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Application/obj
/src/WebApi/bin/Debug/net6.0
/src/WebApi/obj
